<a href="https://colab.research.google.com/github/kae4ka/neural_networks_course/blob/main/INS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Обучение однослойного персептрона решению линейно разделимых задач. Функции «And» и «Or». Метод простого перебора

* Два входа, один выход
* Обучающая выборка – таблицы истинности
* Функция активация – ступенчатая
* Значения весов перебирать в цикле (например, от -1 до +1 с шагом 0.1)
* Ошибку считать по МНК
* Запоминать все значения весов, при которых ошибка равна 0

![image.png]()

In [53]:
import numpy as np
import pandas as pd

x = np.array([[0, 0], [0, 1], [1, 0], [1, 1]])
y_or = np.array([0, 1, 1, 1])
y_and = np.array([0, 0, 0, 1])
w_or = []
w_and = []
y_pred_or = []
y_pred_and = []

df = pd.DataFrame({'X1': x[:, 0], 'X2': x[:, 1],
                  'OR': y_or, 'AND': y_and},
                  columns=['X1', 'X2', 'OR', 'AND'])
df

   X1  X2  OR  AND
0   0   0   0    0
1   0   1   1    0
2   1   0   1    0
3   1   1   1    1

In [54]:
def step_func(u):
        return 1 if (u > 0) else 0

In [55]:
def perceptron(x, y, weights):
  for i in np.arange(-1.0, 1.1, 0.1):
    for j in np.arange(-1.0, 1.1, 0.1):
      for q in np.arange(-1.0, 1.1, 0.1):
        fail = 0
        w = np.array([i, j, q])
        for k, m in np.array(list(zip(x, y))):
            k = np.insert(k, len(k), 1, axis=0)
            y_pred = np.matmul(k, w.T)
            y_pred = step_func(y_pred)
            err = m - y_pred
            if err != 0:
              fail += 1
        if fail == 0:
          weights.append(w)

In [56]:
perceptron(x, y_or, w_or)
perceptron(x, y_and, w_and)

for k in x:
  k = np.insert(k, len(k), 1, axis=0)
  y_pred = np.dot(k, w_or[0].T)
  y_pred_or.append(step_func(y_pred))
  y_pred = np.dot(k, w_and[0].T)
  y_pred_and.append(step_func(y_pred))

df.insert(3, "OR_pred", y_pred_or, True)
df.insert(5, "AND_pred", y_pred_and, True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  import sys

In [57]:
df

   X1  X2  OR  OR_pred  AND  AND_pred
0   0   0   0        0    0         0
1   0   1   1        1    0         0
2   1   0   1        1    0         0
3   1   1   1        1    1         1

# 2.	Обучение однослойного персептрона  методами направленного обучения (по аналогии с советчиками)

* То же самое, что и ЛР№1, но используется не перебор, а направленное обучение
* Веса корректируются исходя из ошибки
* Обучающая выборка – таблицы истинности
* Функция активация – ступенчатая. Предпочтительней – sign(x)
* Начальное значение весов берем случайно
* Последующее значение – wi+1 = wᵢ + Δw
* Δwᵢ = ɛ * x * d * |wᵢ|
* d = A – Y ошибка (разность между эталонным и расчетным значениями)

![image.png]()

In [13]:
import numpy as np
import pandas as pd

X = np.array([[0, 0], [0, 1], [1, 0], [1, 1]])
Y_or = np.array([0, 1, 1, 1])
Y_and = np.array([0, 0, 0, 1])
W_or = np.random.rand(3,)
W_and = np.random.rand(3,)

y_pred_or = []
y_pred_and = []

df = pd.DataFrame({'X1': X[:, 0], 'X2': X[:, 1], 'OR': Y_or, 'AND': Y_and},
                  columns = ['X1', 'X2', 'OR', 'AND'])
df

   X1  X2  OR  AND
0   0   0   0    0
1   0   1   1    0
2   1   0   1    0
3   1   1   1    1

In [14]:
def sign(u):
  return 1 if (u > 0) else 0

In [15]:
def perceptron(x_i, w):
  sum = np.matmul(x_i, w.T)
  y_pred = sign(sum)
  return y_pred

In [16]:
def training(x, y, w, b = 1, lr = 0.1, num_iter = 50):
  for iter_num in range(num_iter):
    for x_i, y_i in np.array(list(zip(x, y))):
      x_i = np.insert(x_i, len(x_i), b, axis = 0)
      y_pred = perceptron(x_i, w)
      err = y_i - y_pred
      w += lr*err*x_i
  return w

In [17]:
W_or = np.copy(training(X, Y_or, W_or))
W_and = np.copy(training(X, Y_and, W_and))

for k in X:
  k = np.insert(k, len(k), 1, axis = 0)
  y_pred_or.append(perceptron(k, W_or))
  y_pred_and.append(perceptron(k, W_and))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  This is separate from the ipykernel package so we can avoid doing imports until

In [18]:
df.insert(3, "OR_pred", y_pred_or, True)
df.insert(5, "AND_pred", y_pred_and, True)

In [19]:
df

   X1  X2  OR  OR_pred  AND  AND_pred
0   0   0   0        0    0         0
1   0   1   1        1    0         0
2   1   0   1        1    0         0
3   1   1   1        1    1         1

# 3.	Обучение многослойной нейронной сети решению линейно неразделимых задач. Функция «Exclusive Or»

* То же самое, что и Лаб. 2, но используется многослойный персептрон
* НС: 2 слоя, 2 входа, 1 выход

In [9]:
import numpy as np

X = np.array([[0,0], [0,1], [1,0], [1,1]])
X_not = np.array([[0], [1]])

Y_xor = np.array([0, 1, 1, 0])
Y_or = np.array([0, 1, 1, 1])
Y_and = np.array([0, 0, 0, 1])
Y_not = np.array([1, 0])

W1 = np.random.rand(3,)
W2 = np.random.rand(3,)
W3 = np.random.rand(2,)
W4 = np.random.rand(3,)

def sign(u):
  return 1 if (u > 0) else 0

def perceptron(x_i, w):
  # взвешенная сумма
  sum = np.dot(x_i, w.T)
  y_pred = sign(sum)
  return y_pred

def training(x, y, w, b = 1, lr = 0.1, num_iter = 50):
    """
    function defining single layer perceptron
    :x: x1 and x1
    :y: y
    :w: weights vector
    :b: bias
    :lr: learning rate
    :num_iter: number of iterations
    """
    for iter_num in range(num_iter):
      for x_i, y_i in np.array(list(zip(x, y))):
        x_i = np.insert(x_i, len(x_i), b, axis = 0)
        y_pred = perceptron(x_i, w)       
        # ошибка
        err = y_i - y_pred
        # обновление весов
        w += lr*err*x_i
    return w

def two_layer_perceptron(x, w1, w2, w3):
  
  h1 = sign(np.dot(x, w2.T))*w3[0]
  h2 = sign(np.dot(x, w1.T))
  
  sum = np.array([h1, h2])
  sum = np.insert(sum, len(sum), 1, axis = 0)

  y_pred = np.dot(sum, w2.T)
  
  return y_pred

def training_mlnn(x, y, w1, w2, w3, w4, b = 1, lr = 0.1, num_iter = 50):
    """
    :x: x1 and x1
    :y: y
    :w: weights vector
    :b: bias
    :lr: learning rate
    :num_iter: number of iterations
    """
    for iter_num in range(num_iter):
      for x_i, y_i in np.array(list(zip(x, y))):
        x_i = np.insert(x_i, len(x_i), b, axis = 0)
        y_pred = sign(two_layer_perceptron(x_i, w1, w2, w3))
        # ошибка
        err = y_i - y_pred
        # обновление весов
        w4 += lr*err*x_i
    return w4

# обучение логическому ИЛИ
W1 = np.copy(training(X, Y_or, W1))
# обучение логическому И
W2 = np.copy(training(X, Y_and, W2))
# обучение логическому НЕ
W3 = np.copy(training(X_not, Y_not, W3))

W4 = np.copy(training_mlnn(X, Y_xor, W1, W2, W3, W4))
# print(W4)

print('NOT:')
for i in X_not:
	x = np.insert(i, len(i), 1, axis = 0)
	y_pred = np.dot(x, W3.T)
	outp_pn = sign(y_pred)
	print(i, sign(outp_pn))
 
print('OR:')
for i in X:
	x = np.insert(i, len(i), 1, axis = 0)
	y_pred = np.matmul(x, W1.T)
	outp_pn = sign(y_pred)
	print(i, sign(outp_pn))
 
print('AND:')
for i in X:
	x = np.insert(i, len(i), 1, axis = 0)
	y_pred = np.matmul(x, W2.T)
	outp_pn = sign(y_pred)
	print(i, sign(outp_pn))
 
print('XOR:')
for i in X:
	x = np.insert(i, len(i), 1, axis = 0)
	y_pred = np.matmul(x, W4.T)
	outp_pn = sign(y_pred)
	print(i, sign(outp_pn), sign(two_layer_perceptron(x, W1,W2,W3)))

NOT:
[0] 1
[1] 0
OR:
[0 0] 0
[0 1] 1
[1 0] 1
[1 1] 1
AND:
[0 0] 0
[0 1] 0
[1 0] 0
[1 1] 1
XOR:
[0 0] 1 0
[0 1] 1 0
[1 0] 1 0
[1 1] 1 0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:36: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:67: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

In [8]:
      np.put(w1, [0], -1*w1[0])
      np.put(w2, [1], -1*w2[1])

      h1 = np.matmul(x, w1.T)
      h1 = sign(h1)
      
      h2 = np.matmul(x, w2.T)
      h2 = sign(h2)
      
      h = np.array([h1, h2, 1])
      y_pred = np.matmul(x, w3.T)
      y_pred = sign(y_pred)

NameError: ignored